.activity-list{
    /* background-image: url('../Images/Surf.jpg'); */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

#SlideBG{
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 12s linear infinite 0s;
  animation-timing-function: ease-in-out;
  /* background-image: url('../Images/SurfingGirls.jpg'); */
  animation-direction: alternate;
}

@keyframes slideBg{
  0%{
    background-image: url('../Images/Activity Slideshow/a1.jpg');
  }
  20%{
    background-image: url('../Images/Activity Slideshow/a2.jpg');
  }
  40%{
    background-image: url('../Images/Activity Slideshow/a3.jpg');
  }
  60%{
    background-image: url('../Images/Activity Slideshow/a4.jpg');
  }
  80%{
    background-image: url('../Images/Activity Slideshow/a7.jpg');
  }
  100%{
    background-image: url('../Images/Activity Slideshow/Surf.jpg');
  }
}

  .ablock {
    text-align: center;
    margin: 30px 20px;
    padding: 10px;
    margin: 10px;
    background: rgba(241, 241, 241, 0.685);
    border-radius: 10px;
    transition: all .2s ease-in-out;
    width: 40%;
    margin-left: 30%;
  }
  
  .ablock:hover {
    background-color: rgba(120, 160, 194, 0.822);
    color: black;
    transition: 00.5s;
    transform: scale(1.1);
  }

  .ablock a{
    text-decoration: none;
    color: black;
  }

  .ablock a:visited{
    text-decoration-color: none;
  }