.apreg{
    background-image: url('../Images/RegSurf.jpg');
    /* background-color: #cccccc; */
    height: fit-content;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    position: relative;
}
.apbox{
    font-family: "Quicksand";
    background: rgba(229, 229, 229, 1);
    width: 467px;
    height: auto;
    display:flex; 
    border-radius: 20px;
    padding:50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    justify-content: right;
}

.formstyleap{
max-width: 600px;
margin: 0;
text-align: left;
}
.formstyleap label {
text-align: left;
display: block;
font-size: 20px;
font-weight: bold;
text-decoration: none;
}

.formstyleap h1 {
font-size: 40px;
margin: 0%;
margin-bottom:30px;
text-align: center;
/* margin-left: 43%; */
color: #f1356d;
/* margin-bottom: 30px; */

}

.formstyleap input, .formstyleap textarea {
align-items: center;
width: 300px;
padding: 10px 20px;
margin: 5% 0;
border: 1px solid #ddd;
border-radius: 15px;
box-sizing: border-box;
display: block;
text-align: left;
font-size: 15px;
}

.formstyleap select{
/* align-items: center; */
width: 100%;
padding: 10px 20px;
margin: 5px 0;
border: 1px solid #ddd;
border-radius: 15px;
box-sizing: border-box;
display: block;
text-align: center;
font-size: 15px;
}

.formstyleap button {
background: #f1356d;
color: #fff;
border: 0;
padding: 8px;
border-radius: 8px;
cursor: pointer;
text-align: center;
padding: 15px 70px;
display: inline-block;
font-weight: bold;
font-size: 20px;
margin-left: 20%;
}  

.formstyleap button:hover {
background-color: rgb(60, 184, 221);
color: black;
transition: 0.3s;
}