@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Quicksand:wght@500&display=swap');

.food{
    background: #FFFCFC;
    height:100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.cblock{
  text-align: center;
  /* margin: 30px 20px; */
  padding: 10px;
  margin: 10px;
  background: rgba(241, 241, 241, 0.685);
  border-radius: 10px;
  transition: all .2s ease-in-out;
  width: 60%;
  margin-left: 20%;
  align-self: center;
}

/* Drop Button */

/* .locButton {
    
    background-color: #04AA6D;
    color: rgb(194, 181, 181);
    display:inline-block;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 15%;
    height: 76px;
    margin-top: 2%;
    margin-left: 55%;
    background: #FFFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
    border-radius: 30px;

    
    font-family: 'Quicksand';
    font-size: 30px;
    line-height: 41px;
    identical to box height

    text-align: center;

    color: #000000;
    cursor: pointer;
  } */
  

/* .locButton:hover {
  background-color: rgb(60, 184, 221);
  color: black;
  transition: 00.5s;
  } */


.middletext{
    font-family: Ribeye;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    
    /* identical to box height */

    text-align: left;
}

.displayBtn {
    /* display: block; */
    /* position: static; */
    border: none;
    /* text-align:justify; */
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;


    width: 60%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    bottom: 20%;
    
    background: #d80d2f9a;
    border-radius: 40px;
/* font */
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
    z-index: -2;
    color: white;
    /* transition: 00.5s; */
    
  }
  .displayBtn:hover {
    /* background-color: rgb(60, 184, 221); */
    color:black;
    transition: 00.5s;
  }

  .addButton{
    /* display: block; */
    background-color: #d80d2f9a;
    color: #FFFCFC;
    width: 20%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border:none;
    border-radius: 40px;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
    transition: 00.5s;
    cursor: pointer;
  }

  .addButton:hover{
    color: black;
    transition: 00.5s;
  }
  a{
    text-decoration: none;
  }

  .barClass{
    float:right;
    margin-right: 5%;
    margin-top: 2%;
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 0;
  }

  .barClass:hover{
    color: white;
    transition: 00.25s;
    transform: scale(1.2);
  }

  .dropDown-content{
    display: none;
    margin-left: 10%;
    position: relative;
    background-color: #f1f1f1;
    min-width: 100px;
    min-height: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 15px;
    z-index: 999;
  }
  .dropDown-content a{
    text-decoration: none;
    color: black;
    display: block;
    padding:2px 10px;
    z-index: 999;
  }
  .barClass:hover .dropDown-content{
    display: block;
    background-color: white;
    z-index:-1;
  }

  .dropDown-content a:hover{
    background-color: #ddd;
  }

  