.DistrictName{
    background-image: url('../Images/Sigiri.jpg') ;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    justify-items: center;
    
}
.para p{
    color: white;
    text-align: center;
    border: none;
}
.dblock {
  text-align: center;
  margin: 30px 20px;
  padding: 10px;
  margin: 10px;
  background: rgba(241, 241, 241, 0.685);
  border-radius: 10px;
  transition: all .2s ease-in-out;
  width: 40%;
  margin-left: 30%;
  font-size:x-large;
  font-weight: bold;
}

.dblock:hover {
  background-color: rgba(120, 160, 194, 0.822);
  color: black;
  transition: 00.5s;
  transform: scale(1.1);
}
  