.DistrictName{
    background: url('../Images/Sigiri.jpg') center center/cover no-repeat;
    /* position: relative; */
    background-size: cover;
    margin: 0%;
    padding: 0%;

}
.block {
    background-color: #DCDAD4;
    border-radius: 50px;
    display: block;
    position:relative;
    border: none;
    padding: 15px 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 370px;
    height: 162px; 
    cursor: pointer;  
  }
  .block:hover {
    background-color: rgb(60, 184, 221);
    color: black;
  }
  