.home{
    height: 100%;
    width: 100%;
    background-image: url('../Images/Ella\ Railway.jpg');
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    position: absolute;
    justify-items: center;
    justify-content: center;
    
}

.boxhome{
    width: 420px;
    height: 376px;
    position: relative;
    display:flex; 
    background: rgba(229, 229, 229, 0.55);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}

.boxhome-img{ 
    height: 35%;
    top: 18%;   
    position:absolute;
    margin-left: auto;
    margin-right:auto ; 
    z-index: 0;
}

.boxhome h1{
    text-align: center;
    font-size: 50px;
    margin-top:60%;
}

.centerfirst {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* border: 3px solid green;  */
}

.home button{
    background-color: #DAB785  ;
    border:0px;
    border-radius: 45px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 14px 20px;
    margin: 20px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 28%;
    margin-left: 1%;
    margin-right: 4%;
    
}

.home button:hover {
    color: #f1356d;
    transition: 0.3s;
  }



